.main-img {
  height: 630px;
  width: 420px;
  object-fit: cover;
}

p {
  margin: 0;
}

.container {
  position: relative;
  width: fit-content;
  display: flex;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 60px;
  position: relative;
  top: 90px;
  height: 720px;
  width: 180px;
}

.icon-container {
  width: 50px;
  height: 50px;
  padding: 65px;
  background: url(./assets/svg/background.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.item {
  display: flex;
  position: relative;
}

.item-1 {
  transform: rotate(10deg);
  left: -67px;
  top: -79px;
}

.item-2 {
  transform: rotate(57deg);
  right: -94px;
  top: -152px;
}

.item-3 {
  transform: rotate(103deg);
  right: -126px;
  top: -140px;
}

.item-4 {
  transform: rotate(158deg);
  right: 2px;
  top: -174px;
}

.text {
  min-width: 200px;
  color: red;
  font-weight: 700;
  position: absolute;
}

.text-1,
.icon-1 {
  transform: rotate(-10deg);
}

.text-2,
.icon-2 {
  transform: rotate(-57deg);
}

.text-3,
.icon-3 {
  transform: rotate(-103deg);
}

.text-4,
.icon-4 {
  transform: rotate(-158deg);
}

.text-1 {
  right: -120px;
  top: -20px;
}

.text-2 {
  right: -82px;
  top: -85px;
}

.text-3 {
  right: 28px;
  top: -96px;
}

.text-4 {
  right: 89px;
  top: -36px;
}
